<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Kithcen Sync</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{% static 'sync/css/style.css' %}">
    <!-- <link rel="stylesheet" href="sync.css"> -->
    <link rel="stylesheet" href="{% static 'sync/css/sync.css' %}">
    <link rel="stylesheet" href="{% static 'sync/css/box.css' %}">
</head>

<body>
    <li><a style="font-size: 14pt; border-bottom: 1px solid black;" href="/shop">Edit List</a></li>
    <li class="instruc">click to remove items</li>
    {% for item in items %}
    <li style="display: flex;">
        <form action="/shop/removeSync/{{ item.id }}" method="POST" class='itemRemove'>
            {% csrf_token %}
            <input class="clearBtn" name='name' type="submit" value="{{ item.name }}">
        </form>
    </li>
    {% endfor %}
    <li>
        <input class="shoppingInput" type="text" placeholder="+Add new item">
        <input type="submit" class="bttn bttnGrn shoppingInput" value="submit">
    </li>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>